<div style="position: relative;">

<div class="row form-group foot">
    <div [ngStyle]="iconos('relative','10%')">
        <img class="imgFooter" src="assets/img/home.png" alt="">
    </div>
    <div [ngStyle]="iconos('relative','20%')">
        <img class="imgFooter" src="assets/img/history.png" alt="">
    </div>
    
    <div  [ngStyle]="iconos('relative','10%')">
        <img class="imgFooter" src="assets/img/profile.png" alt="">
    </div>
    <div  [ngStyle]="iconos('relative','20%')">
        <img class="imgFooter" src="assets/img/more.png" alt="">
    </div>
 </div>
 <div  class="circle"><img class="imgadd" src="assets/img/add_24px.png" alt=""></div>
</div>
